.section{
  width: calc(100% - 10rem);
  color: brown;
  text-align: center;
  align-items: center;
  background-color: #21212f;
  padding-top: 4rem;
}

.form {
  max-width: 30rem;
  margin: 2rem auto;
}

.form label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font: inherit;
}

.form input {
  display: block;
  width: 100%;
  outline: none;
  margin-bottom: 8px;
  font: inherit;
}

.form button {
  font: inherit;
  width: 4rem;
}